/* VariableFont */
@font-face {
    font-family: PlayfairDisplay;
    src: url(../Component/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* Italic-VariableFont */
@font-face {
    font-family: PlayfairDisplay;
    src: url(../Components/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* Black */
@font-face {
    font-family: PlayfairDisplay;
    src: url(../Components/Playfair_Display/static/PlayfairDisplay-Black.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* BlackItalic */
@font-face {
    font-family: PlayfairDisplay;
    src: url(../Components/Playfair_Display/static/PlayfairDisplay-BlackItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: PlayfairDisplay;
    src: url(../Components/Playfair_Display/static/PlayfairDisplay-Bold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* BoldItalic*/
@font-face {
    font-family: PlayfairDisplay;
    src: url(../Components/Playfair_Display/static/PlayfairDisplay-BoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* ExtraBold */
@font-face {
    font-family: PlayfairDisplay;
    src: url(../Components/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* Extra */
@font-face {
    font-family: PlayfairDisplay;
    src: url(../Components/Playfair_Display/static/PlayfairDisplay-Extra.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: PlayfairDisplay;
    src: url(../Components/Playfair_Display/static/PlayfairDisplay-Italic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: PlayfairDisplay;
    src: url(../Components/Playfair_Display/static/PlayfairDisplay-Medium.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* MediumItalic */
@font-face {
    font-family: PlayfairDisplay;
    src: url(../Components/Playfair_Display/static/PlayfairDisplay-MediumItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* Regular */
@font-face {
    font-family: PlayfairDisplay;
    src: url(../Components/Playfair_Display/static/PlayfairDisplay-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* SemiBold */
@font-face {
    font-family: PlayfairDisplay;
    src: url(../Components/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* SemiBoldItalic */
@font-face {
    font-family: PlayfairDisplay;
    src: url(../Components/Playfair_Display/static/PlayfairDisplay-SemiBoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}