* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin: 3px;
  flex: 1 1 100vw;
}

:root {
  --font: PlayfairDisplay;
  --cor0: #F2E8C9;
  --cor1: #734E40;
  --cor2: #BF9788;
  --cor3: #F26457;
  --cor4: #0D0D0D;
}

body {
  background-color: var(--cor0);
}

header,
nav,
main,
aside,
footer {
  display: flex;
  margin: 3px;
}

header {
  flex: 1 1 100vw;
  height: 100px;
  background-color: var(--cor2);
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

header #logo {
  justify-content: center;
  text-align: center;
  width: 100%;
  flex: 0 1 200px;
}

#header-logo {
  width: 50%;
}

#openMenu,
#closeMenu {
  border: none;
  background: none;
  font-size: 30px;
  font-weight: bold;
  padding: 0px 5px 5px;
  cursor: pointer;
  display: none;
}

nav {
  flex: 1 1 100vw;
  align-items: center;
  justify-content: flex-end;
}

nav a {
  margin: 3%;
  font-size: 20pt;
}

a {
  text-decoration: none;
  color: inherit;
}

#a_01 {
  color: var(--cor0);
}

#a_02 {
  color: var(--cor1);
}

main {
  flex: 20 1 500px;
  height: calc(100vh - 224px);
  flex-direction: column;
  align-items: center;
}

aside {
  flex: 1 1 200px;
}

footer {
  flex: 1 1 100vw;
  height: 100px;
  background-color: var(--cor2);
  filter: drop-shadow(2px -4px 4px rgba(0, 0, 0, 0.25));
}

footer #logo {
  justify-content: center;
  text-align: center;
  width: 100%;
  flex: 0 1 200px;
}

#footer-logo {
  width: 50%;
}

@media only screen and (max-width: 923px) {
  main {
    height: calc(100vh - 330px);
  }

  aside {
    flex: 1 1 100vw;
    height: 100px;
  }
}

@media only screen and (max-width: 717px) {

  #openMenu,
  #closeMenu {
    display: block;
  }

  #openMenu {
    margin-left: auto;
  }

  #closeMenu {
    position: absolute;
    right: 5px;
    top: 35px;
  }

  nav {
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    display: none;
    opacity: 0;
    transition: 0.3s;

    background: linear-gradient(45deg, #c9c9c9, #757575, #404040, #111111);
    background-size: 600% 600%;
    animation: gradientAnimation 10s ease infinite;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .animated-menu {
    animation: gradientAnimation 8s ease infinite;
  }
}

#t_01,
#t_02,
#t_03,
#t_04,
#t_05,
#t_06,
#t_07,
#t_08,
#t_09,
#p_01,
#p_02,
#p_03,
#p_04,
#p_05,
#p_06,
#p_07,
#p_08 {
  font-family: var(--font);
  color: var(--cor1);
}

header,
main,
footer {
  margin-bottom: 1%
}

footer {
  margin-top: 302%;
}

h1,
h2,
h3,
p,
#img_01,
#img_02,
#img_03,
#img_04,
#img_05 {
  margin-bottom: 1.5%
}

p,
h1,
h2,
h3 {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
}

#img_01 {
  width: 100%;
  max-width: 892px;
  height: auto;
  max-height: 374px;
  border-radius: 20px;
}

#img_02 {
  width: 100%;
  max-width: 892px;
  height: auto;
  max-height: 447.01px;
  border-radius: 20px;
}

#img_03 {
  width: 100%;
  max-width: 892px;
  height: auto;
  max-height: 446px;
  border-radius: 20px;
}

#img_04 {
  width: 100%;
  max-width: 892px;
  height: auto;
  max-height: 443.99px;
  border-radius: 20px;
}

#img_05 {
  width: 100%;
  max-width: 892px;
  height: auto;
  max-height: 444.99px;
  border-radius: 20px;
}

#t_05,
#t_06,
#t_07,
#t_08,
#t_09 {
  align-self: flex-start;
}

#p_04,
#p_06,
#p_07,
#p_08 {
  align-self: flex-start;
}